.cart {
  max-width: 30rem;
  background-color: transparent;
  border-color: #008080;
  border-radius: 6px;
  color: #008080;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1px;
}

.cart h2 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.badgeDetails {
  display: flex;
  justify-content: flex-end;
}

.badge:nth-of-type(2) {
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin-top: 2em;
}

.buttons > * {
  padding: 10px;
}

.badge {
  background-color: #1ad1b9;
  border-radius: 30px;
  color: #1d1d1d;
  padding: 10px;
}

.shoppingCart {
  display: flex;
  flex-direction: column;
}

.closeButton {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .badgeDetails {
    width: fit-content;
    margin-left: auto; 
    margin-right: 0;
    flex-direction: column;
  }

  .buttons {
    justify-content: space-around;
  }

  .badge {
    margin: 10px;
  } 
}