.item {
  margin: 1rem 0;
  background-color: white;
  color: black;
  padding: 1rem;
  width: 100%;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details img {
  width: 20%;
  border-radius: 30%;
  border: 1px solid black;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 1px solid black;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: black;
}

.actions button:hover,
.actions button:active {
  background-color: grey;
  color: white;
}

@media screen and (max-width: 600px) {
  .item {
    display: flex;
    flex-direction: column;
  }

  .item header {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .actions {
    flex-direction: column-reverse;
  }

  .actions button {
    margin: 1px;
  }
}