.form {
  margin: 1rem 0;
  height: fit-content;
  margin-top: 5em;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.actions button {
  border-radius: 25px;
  padding: 0.5rem 2rem;
  color: white;
}

.actions .submit {
  color: white; 
  color: black;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}