.notFound {
  text-align: center;
  font-size: 2em;
  color: gray;
}

.detailsPageTitle {
  text-align: center;
}

.content {
  height: fit-content;
}

.container {
  width: 80%;
  border: 1px solid black;
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.photo {
  width: 50%;
  margin: auto;
  height: fit-content;
}

.img {
  border: 1px solid black;
  border-radius: 50%;
  width: 50%;
  transition: transform 0.25s;
  vertical-align: baseline;
}

.photo:hover img {
  transform: scale(1.1);
}

.details {
  display: flex;
  text-align: center;
  width: 50%;
  color: black;
  /* position: relative; */
  justify-content: center;
  align-items: center;
}

.details > * {
  vertical-align: middle;
}

/* .addToCart {
  position: relative;
  margin-top: 50px;
} */

/* .btn {
  position: absolute;
  bottom: 0;
  left: 0;
} */

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1rem;
}

.gridContainer > div {
  text-align: left;
}

.gridContainer > div:nth-child(2n+1) {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .photo {
    width: 100%;
    margin-top: 20px;
  }

  img {
    width: 50%;
  }

  .details {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
  }

  .btn {
  }
}