.jewelry {
    border: 1px solid black;
    /* padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%; */
    /* background-color: pink; */
  }
  
  .container {
    border: 1px solid black;
    background-color: gray;
  }
  