.header {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
}

.logo {
  font-size: 2rem;
  color: white;
}


.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;

  overflow: hidden;
}

.nav .icon {
  display: none;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}

.buttons {
  display: flex;
  align-items: center;
}

.pages {
  display: flex;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header button:hover {
  background-color:#c2ebeb;
  color: #008080;
}

/* TODO: make this responsive */
@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: row;
  }

  .pages, .buttons {
    display: flex;
    flex-direction: column;
  }

  .btn:first-of-type {
    margin-bottom: 5px;
  }
  
  .logo {
    font-size: 5vw;
  }
}